{% extends 'base.html.twig' %}

{% block title %}Hello IndiceController!{% endblock %}

{% block body %}
{% set rutaImagen = 'https://acesse.dev/szB5X' %}

<style>
body {
    font-family: var(--bs-body-font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://static-resources-elementor.mirai.com/wp-content/uploads/sites/361/ama-the-resort-header-1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #8AB0AB; /* Fallback color en caso de que la imagen no se cargue */
    margin: 0;
}
h5 {
    margin: 1em auto;
    width:25%;
    background-color: rgb(62,80,91, 0.6);
    color:#FFF;
    font-weight: bold;
}
.example-wrapper {
    background: rgb(38,65,60, 0.9);
    max-width: 800px;
    width: 95%;
    color: #FFF;
    text-align: center; /* Alinea el texto al centro */
    padding: 20px; /* Agrega algún espacio alrededor del contenido */
}

.carousel {
    margin-top: 20px; /* Agrega margen superior al carrusel si es necesario */
}

.carousel-inner img {
    max-height: 400px; /* Limita la altura de las imágenes del carrusel si es necesario */
}
</style>

<div class="example-wrapper rounded">
    <h1 class="font">AMA ISLANTILLA RESORT</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="http://127.0.0.1:8000/cliente/mostrar"><img src="https://static-resources-elementor.mirai.com/wp-content/uploads/sites/361/home_01.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Clientes</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://127.0.0.1:8000/reserva/mostrar">
      <img src="https://marble-ama-andalucia-hotel-islantilla.hotelmix.es/data/Photos/OriginalPhoto/12728/1272801/1272801667/Ama-Islantilla-Resort-Exterior.JPEG" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Reservas</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://127.0.0.1:8000/habitacion/mostrar">
      <img src="https://www.hotelresb2b.com/images/hoteles/637157_image62718829_0.jpg" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Habitaciones</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://127.0.0.1:8000/consultas/edad">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/cb/f9/96/sentido-ama-islantilla.jpg?w=1200&h=-1&s=1" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Consultas</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
{% endblock %}